.about-button {
    background-color: #fd5e07;
    border: none;
    color: white;
    font-family: "Bebas Neue Bold";
    font-size: 24px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    left: 0 ;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.about-button:hover {
    background-color: white;
    color:#fd5e07;
    border: 1px solid #fd5e07;
}

