.advantages-rectangle{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 1px #fd5e07 solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-rectangle p{
    font-size: 24px;
    font-family: "Bebas Neue Regular";
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

img {
    color:#fd5e07;
}